#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --sasl=/usr/include/sasl

# Suppress the test suite since it requires interactivity.
override_dh_auto_test:

override_dh_compress:
	dh_compress -X examples
